<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">
      To home
    </button>
  </div>

  <div class="info">
    <strong>Author </strong>
    <small>12.09.2010</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, minima ad magnam laudantium blanditiis saepe eveniet facere beatae quam corrupti! Illo, dicta perferendis. Molestiae porro perspiciatis adipisci ducimus dolorem corporis eum sequi! Voluptates suscipit placeat nobis quam saepe modi architecto libero explicabo, id reiciendis. Beatae facilis totam porro nulla placeat.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, minima ad magnam laudantium blanditiis saepe eveniet facere beatae quam corrupti! Illo, dicta perferendis. Molestiae porro perspiciatis adipisci ducimus dolorem corporis eum sequi! Voluptates suscipit placeat nobis quam saepe modi architecto libero explicabo, id reiciendis. Beatae facilis totam porro nulla placeat.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, minima ad magnam laudantium blanditiis saepe eveniet facere beatae quam corrupti! Illo, dicta perferendis. Molestiae porro perspiciatis adipisci ducimus dolorem corporis eum sequi! Voluptates suscipit placeat nobis quam saepe modi architecto libero explicabo, id reiciendis. Beatae facilis totam porro nulla placeat.</p>
    
  </div>
</div>